/backups
/coremods
/crash-reports
/defaultconfigs
/local
/modernfix
/mods
/patchouli_books
/resourcepacks
/saves
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
/logs
/overrides
emi.json
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
/essential
/xaero
/journeymap
XaeroWaypoints_BACKUP240807/新規ワールド/config.txt
/.cache